/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1400px;


// Colors
$white: #FCFBF6;
$whitelight: #FFFEFB;
$whitedark: #F5F4EF;
$offwhite: #E0DFD5;
$offwhitedark: #D7D5CA;
$offwhitelight: #F2F1E8;
$green: #E3F7A0;
$greendark: #DAED99;
$greenlight: #EFFCC4;
$gray: #606060;
$graylight: #868787;
$graydark: #3E3E3E;



