/* =============
    Hero Buttons
============= */

.herobutton{

    .container{

        @include sm{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            ". content .";
        }
        @include md{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            ". content .";
        }
        @include lg{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            ". content .";
        }
        @include xl{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            ". content .";
        }
    }
}
