/* =============
    Read More/Shop Now
============= */

.ReadMoreShopNow{

        @include md{
            display: grid;
            grid-template-columns: 16px 1fr 1fr 16px;
            grid-template-areas: 
            ". box-1 box-2 .";
        }
    
        @include xl{
            grid-template-columns: auto 570px 570px auto;
        }
    
        @include xxl{
            grid-template-columns: auto 660px 660px auto;
        }
        .container{
            @include xl{
                grid-template-columns: 16px auto 16px;
            }
    
            &.box-1{
                
                text-align: center;
                background-color: rgb(218, 237, 153);
                @include md{
                    grid-area: box-1;
                }
            }
    
            &.box-2{
                @include md{
                    grid-area: box-2;
                }
            }
            .content{
                
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-areas:
                "h2 img"
                "a img"
                ;
                h2{
                
                    grid-area: h2;
                }
    
                a{
                    width: 162px;
                    height: 42px;
                    text-align: center;
                    padding: 12px;
                    background-color: rgb(255, 254, 251);
                    grid-area: a;
                }
    
                img{
                    
                    grid-area: img;
                }
            }
        }  
}
