/* =============
    Search our Store
============= */
.searchourstore{
    font-style: #3E3E3E;
    font-size: 27px;
    
    
    .content{
        
        @include sm{
            
            display: grid;
            grid-template-columns: 16px 1fr 1fr 16px;
            grid-template-areas: 
            ". content .";
        }
       
        
        @include xl{ 
            background-color: #D7D5CA;
            text-align: center;
            grid-template-columns: auto 1fr auto;
            grid-area: 
            "p1 p1";

        }
    }
}