/* =============
    Header
============= */

header{
    background-color: $whitedark;  
    
    .container{
        grid-template-columns: 5fr;
        .content{
            
            div{
            margin: 20px 0 20px 0px;

            @include md{
                margin: 25px 0 25px 0px;
            }
            img{
            width: 40px;
            padding-right: 1rem;

            @include lg{
                width: 60px;
                padding-right: 1rem;
            }
        }
        h1{
            display: none;
            color: $greenlight;
            @include md{
                display: inline-block;
                font-size: 24px;
            }

            @include lg{
                font-size: 36px;
            }

            span{
                font-size: 12px;

                @include md{
                    display: block;
                    
                }

                @include lg{
                    font-size: 16px;
                }
            }
        }
        }     
        
        
        }
        
    }
}

   /* ============= .logo{
        text-align:left;
    }

    nav{
        display:none;
        text-align: right;
        @include md{
            display:block;
        }
        a{
            padding: 10px 20px;
            display: block;
        }
    }
============= */
